h1,h2,h3,h4{
  color: black;
}
table,td{
  border: 1px solid black;
  boder-collapse: collapse;
}
body {
  background-imange:url('img/binhhu.jpg') ;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}
