h1,h2,h3,h4{
  color:aqua;
}
table,td{
  border: 1px solid black;
  boder-collapse: collapse;
}
body {
  backgroun-imange: ;
  backgroun-repeat: no-repeat;
  backgroun-size:cover;
  backgroun-attachment: fixed;
}
